<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Moving Eulerian-Lagrangian Particle Method for Thin Film and Foam
        Simulation</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes, minimal-ui">
</head>

<!-- Fonts -->
<style>
    .myFont {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
</style>

<style>
    .courier {
        font-family: 'Courier New', Courier, monospace; margin-bottom: 2cm;
    }
</style>

<style>
    .col-centered{
        float: none;
        margin: 0 auto;
    }
</style>

<body>
    <div id="app">
        <v-app class="myFont">
            <v-row justify="center" no-gutters>
                <v-col class="py-4 text-center" :xl="7" :lg="7" :md="8" :sm="12" :xs="12">
                    <!--  Title and teaser -->
                    <v-row justify="center" class="mt-11"  no-gutters>
                        <v-sheet tile>
                            <div class="myFont"><h1>{{title}}</h1></div>
                            <div style="line-height:65%;">
                                <br>
                            </div>
                            <div class="myFont"><h3>SIGGRAPH 2022</h3></div>
                        </v-sheet>
                        <v-col :cols="12" class="mt-5" >
                            <span v-for="author in authors" class="mr-4">
                                <span v-if="author.link != null" >
                                    <a :href=author.link>{{author.name}}</a>
                                    <sup>{{author.sup}}</sup>
                                </span>
                                <span v-else>
                                    {{author.name}}
                                    <sup>{{author.sup}}</sup>
                                </span>
                            </span>
                        </v-col>

                        <v-col :cols="12" class="mt-2">
                            <span v-for="(institution, index) in institutions" class="mr-4">
                                <h5>{{institution}}</h5> 
                            </span>
                        </v-col>
                        <v-img height="100%" class="mt-4"
                               src="images/bubble_burst.jpg">
                        </v-img>
                    </v-row>

                    <!--  Abstract -->
                    <v-row justify="left" class="mt-11"  no-gutters>
                        <v-col class="col-12 text-left">
                            <div class="myFont"> <h3>Abstract</h3></div>
                            <div class="myFont">
                                {{abstract}}
                            </div>
                        </v-col>
                    </v-row>

                    <!--  Paper -->
                    <v-row justify="left" class="mt-6"  no-gutters>
                        <v-col class="col-12 text-left">
                            <div class="myFont"> <h3>Paper</h3></div>
                            <div style="line-height:35%;">
                                <br>
                            </div>
                            <v-btn color="blue" dark href="documents/melp_paper.pdf" target="_blank"> PDF
                                <v-icon class="ml-2 white--text" >mdi-cloud-download</v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>

                    <!--  Video -->
                    <v-row class="mt-7"  no-gutters>
                        <div class="myFont"> <h3>Video</h3> <div style="line-height:45%;">
                            <br>
                        </div></div>
                        <!-- <video controls="" preload="metadata" align="center" width="100%" style="display:block;   width:100%;">
                            <source src="https://www.youtube.com/watch?v=xW-G7hm6SWQ&t=253s" type="video/mp4">
                        </video> -->
                    </v-row>

                    <!-- <v-row class="mt-0"  no-gutters>
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/xW-G7hm6SWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </v-row> -->

                    <!--  Bibtex -->
                    <v-row justify="left" class="mt-7"  no-gutters>
                        <v-col class="col-12 text-left">
                            <div class="myFont"> <h3>Citation</h3>
                                <div style="line-height:15%;">
                                    <br>
                                </div></div>
                            <div class="courier">
@article{Deng2022MELP,<br>
    &nbsp;title={A Moving Eulerian-Lagrangian Particle Method for Thin Film and Foam
    Simulation}, <br>
    &nbsp;author={Y. Deng and M. Wang and X. Kong and S. Xiong and Z. Xian and B. Zhu},<br>
    &nbsp;journal={ACM Trans. Graph.},<br>
    &nbsp;volume={41},<br>
    &nbsp;number={4},<br>
    &nbsp;article={154},<br>
    &nbsp;year={2022}<br>
}
                            </div>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-app>
    </div>


    <div class="row">
        <div class="col-lg-7 col-centered">
            <style>
                .videoWrapper {
                    position: relative;
                    padding-bottom: 56.25%;
                    /* 16:9 */
                    padding-top: 25px;
                    height: 0;
                }
        
                .videoWrapper iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            </style>
            <div class="videoWrapper">
                <iframe src="https://www.youtube.com/embed/xW-G7hm6SWQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


<script>
    var app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            title:'A Moving Eulerian-Lagrangian Particle Method for Thin Film and Foam Simulation',
            abstract:'We present the Moving Eulerian-Lagrangian Particles (MELP), a novel mesh-free method for simulating incompressible fluid on thin films and foams. Employing a bi-layer particle structure, MELP jointly simulates detailed, vigorous flow and large surface deformation at high stability and efficiency. In addition, we design multi-MELP: a mechanism that facilitates the physically-based interaction between multiple MELP systems, to simulate bubble clusters and foams with non-manifold topological evolution. We showcase the efficacy of our method with a broad range of challenging thin film phenomena, including the Rayleigh-Taylor instability across double-bubbles, foam fragmentation with rim surface tension, recovery of the Plateau borders, Newton black films, as well as cyclones on bubble clusters.',
            authors:[
                {name:'Yitong Deng', link:null },
                {name:'Mengdi Wang', link:'https://wang-mengdi.github.io/'},
                {name:'Xiangxin Kong', link:null},
                {name:'Shiying Xiong', link:'https://shiyingxiong.github.io/'},
                {name:'Zangyueyang Xian', link:null},
                {name:'Bo Zhu', link:'https://www.cs.dartmouth.edu/~bozhu/'},
            ],
            institutions:['Dartmouth College, Visual Computing Lab'],
        },
        methods:{
            test(){
                console.log("1234");
            }
        },
        computed: {
            cols () {
                const { lg, sm } = this.$vuetify.breakpoint
                return lg ? 6 : sm ? 9 : 8
            },
        },
    })

</script>
</html>
